.Navbar {
    background: aqua;
    font-size: xx-large;
    z-index: 100;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.NavButton {
    padding: 12px;
    cursor: pointer;
    display: inline-block;
}

.selected {
    background-color: red;
}